* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 3.6em;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

